
:root {
    --Primary: rgb(0, 115, 168);
    --Secondary: rgb(16, 181, 203);
    --button: rgb(223, 107, 68);
    --white: hsl(0, 0%, 100%);
    --black: hsl(201, 33%, 16%);
    --text: hsl(240, 4%, 36%);
    --whiteDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --input: rgb(240, 240, 240);
    --body: rgb(224, 224, 235);
    --cardBG: rgb(225, 225, 235);
}

.footer {
    font-size: 14px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
    background-color:  rgb(0, 115, 168);
    color: rgb(224, 224, 235);
}

.footer-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-column{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px; 
}

.footer-item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding-right: 50px;
}

.footer-item h4{
    font-size: 16px;
}
.footer-item-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-text{
    display: flex;
    font-size: 14px;
}

.footer-rights {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.icon{
    font-size: 1.3rem;
    margin-right: 5px;
}

.footer-item .logo{
    justify-content: left;
}
.footer-item  .logo-div{
    padding-bottom: 20px;
}
@media screen and (max-width: 1000px) {
    .footer-info{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    
}