.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.auth-heading {
    font-size: 30px;
    color:rgb(70, 70, 70);
    padding: 20px 0;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 300px;
    gap: 20px;
    box-shadow: 0px 5px 15px rgb(158, 208, 208);
    border-radius: 10px;
    text-align: center;
}

.auth-input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(158, 208, 208);

}
.auth-btn{
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(223, 107, 68);
    border-radius: 5px;
}

.auth-error{
    display: none;
    color: red;
}