
.profile {
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    width: 100%;
}

.profile-content {
    row-gap: 3rem;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
    height: max-content;
    z-index: 100;
    color: white;
    padding: 2rem 3rem;
}


.home-content{
    display: flex;
    row-gap: 3rem;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
    height: max-content;
    z-index: 100;
    color: white;
    padding: 2rem 3rem;
}

.searchBooking {
    background-color: white;
    padding: 1.5rem 1rem;
    color: var(--Primary);
    gap: 1rem;
    border-radius: 20px;
}

.searchBooking label{
    display: block;
    padding: 10px;
    font-size: 14px;
}

.search-btn{
    min-width: 120px;
}
.searchBooking input{
    outline: none;
    border: none;
    font-size: 14px;
    background-color: var(--input);
    height: 40px;
    border-radius: 3rem;
    padding: 0 1rem;
    width: 100%
}

.price-input input {
    padding: 0px;
 }

.checkin-input, .checkout-input, .people-input, .price-input{
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .searchBooking{
        flex-direction: column;
        padding: 1.5rem 2rem;
        min-width: 300px;
    }
    .hero-title {
        margin-top: 200px;
    }
    .hero {
        display: flex;
        margin-top: 50px;
        flex-direction: row;
    }

    .home{
        height: max-content;
    }
    .hero-title h1{
        font-size: 35px;
        color: white;
    }
    
    .hero-title h2{
        font-size: 20px;
        color: white;
    }
}

@media screen and (max-width: 700px) {
    .searchBooking{
        flex-direction: column;
        padding: 1.5rem 2rem;
    }
    .hero-title {
        margin-top: 0px;
    }
    .hero {
        flex-direction: column;
        margin-top: 0px;
    }

    .home{
        height: max-content;
    }
    .hero-title h1{
        font-size: 35px;
        color: white;
    }
    
    .hero-title h2{
        font-size: 25px;
        color: white;
    }
}