
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
}
.admin-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    align-items: left;
    justify-content: left;
}

.admin-navbar {
    display: flex;
    flex-direction: column;
    flex: 1;
}