/* COLORS */
:root {
    --Primary: rgb(0, 115, 168);
    --Secondary: rgb(16, 181, 203);
    --button: rgb(223, 107, 68);
    --white: hsl(0, 0%, 100%);
    --black: hsl(201, 33%, 16%);
    --text: hsl(240, 4%, 36%);
    --whiteDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --input: rgb(240, 240, 240);
    --body: rgb(224, 224, 235);
    --cardBG: rgb(225, 225, 235);
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
/* GENERAL TAG STYLES */

*{
	box-sizing: border-box;
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Jost', sans-serif;
}

/* *::before,
*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
} */

a {
    text-decoration: none;

}

li {
    list-style: none;
}

.section {
    padding: 5rem 0 2rem;
}

.container {
    padding: 0 1.5rem;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.btn {
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    background-color: var(--button);
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600px;
    font-size: .9rem;
    font-weight: 700;
}

.btn a {
    color: var(--white);
    font-weight: 700;

}

.btn:hover {
    background-color: rgb(16, 181, 203);
}

img, video {
    max-width: 100%;
    height: auto;
}

input {
    outline: none;
    font-size: 100%;
}

body {

    background-color: rgb(224, 224, 235);
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: flex;
    justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */



/* MAIN CONTAINER */
/* .App {
    display: flex;
    max-width: 1024px;
} */
/* .container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    width: 1024px;
}

.container-item {
    display: flex;
	justify-content: center;
    flex-direction: column;
} */

/* NAVIGATION BAR */

/* .navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(143, 197, 197);
    min-height: 70px;
	align-items: center;
	z-index: 50;
    left:0;
	top: 0;
    flex-direction: row;
    font-weight: 600;
} */

/* .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-link{
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.nav-link:hover{
    color: rgb(70, 70, 70);
}

.nav-link-write{
    background-color: lightgreen;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}

.logo{
    padding: 10px;
} */


/* FOOTER */

/* .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(143, 197, 197);
}

.footer-item{
    padding: 5px;
    opacity: 50%;
}

.footer-logo{
    width: 30px;
} */



/* REGISTRATION & AUTHORIZATION PAGE */

/* .auth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.auth-heading {
    font-size: 30px;
    color:rgb(70, 70, 70);
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 300px;
    gap: 20px;
    box-shadow: 0px 5px 15px rgb(158, 208, 208);
    border-radius: 10px;
    text-align: center;
}

.auth-input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(158, 208, 208);

}
.auth-btn{
    padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(143, 197, 197);
    border-radius: 5px;
}

.auth-error{
    display: none;
    color: red;
} */


/* HOME PAGE */

/* .home{

}

.posts{
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.post{
    display: flex;
    gap:100px;
}

.post:nth-child(2n+1){
    flex-direction: row-reverse;
}

.post-img{
    flex:1;
    max-width: 50%;
}

.post-title{
    font-size: 48px;
}

.post-content{
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
}

.post-link{
        color: rgb(70, 70, 70);
    text-decoration: none;
}

.post-btn{
    font-size:16px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    width: 50%;
    background-color: white;
    border: 2px solid lightgreen;
    color: rgb(70,70,70,70);
    font-weight: 600;
}

.post-btn:hover{
    background-color: lightgreen;
    color: white;
    
}


/* POST PAGE */

/* .single-container{
    display: flex;
    
    margin: 50px 0 ;
    gap: 50px;
}

.single-content{
    flex: 5;
    display: flex;
    flex-direction: column;
}

.single-content .post-photo{
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-bottom: 10px;

}

.user {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
}
.user-name{
    font-weight: bold;
}
.user-post-date{
    opacity: 80%;
}

.user-post-actions{
    display: flex;
    justify-content: space-between;
    gap:20px;
}

.user-post-btn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid lightgreen;
    border-radius: 10px;
    color: rgb(70,70,70,70);
    font-weight: 600;
    text-decoration: none;
}

.user-info span {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.user-info-all{
    display: flex;
    align-items: center;
    gap:10px;
}
.user img{
    width:60px;
    height:60px;
    border-radius: 50%;
    object-fit: cover;
}

.post-desctiption{
    font-size: 18px;
    padding-top: 20px;
}
.menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.menu h2{
    font-size: 20px;
}

.menu .post{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.menu .post img{
    width: 100%;
    height: 200px;
    object-fit: cover;

}  */


/* WRITE PAGE */

/* .write-container{
    display: flex;
    margin: 50px 0 ;
    gap: 20px;
}

.write-content{
    flex: 5;
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .container-item {
        width: 768px;
    }
  }

  @media (max-width: 768px) {
    .container {
        width: 425px;
    }
    .container-item {
        width: 425px;
    }

    .links{
        display: none;
    }

  }

  @media (max-width: 425px) {
    .container {
        width: 320px;
    }

    .container-item {
        width: 320px;
    }

} */
